body{
  background-color: #f1f3f4;
  font-family: sans-serif;
}

.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  border-bottom: 3px solid orange;
  z-index: 2;
}

.logo {
  height: 40px;
  margin: 6px 10px;
}

.form-control {
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid orange ! important;
  border-top-left-radius: 20px ! important;
  border-bottom-left-radius: 20px ! important;
  border-top-right-radius: 0 ! important;
  border-bottom-right-radius: 0 ! important;
  box-shadow: none ! important;
}

.input-group-text{
  background: orange ! important;
  border: 1px solid orange ! important;
  margin: 8.5px 10px 3px 0;
  border-top-left-radius: 0px ! important;
  border-bottom-left-radius: 0px ! important;
  border-top-right-radius: 20px ! important;
  border-bottom-right-radius: 20px ! important;
  cursor: pointer;
}

.search-box {
  display: inline-flex;
  width: 60%
}

.fa-search{
  color: #fff;
}

.menu-bar{
  width: 40%;
  height: 57px;
  float: right;
}

.menu-bar ul{
  display: inline-flex;
  float: right;
}

.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: orange;
  cursor: pointer;
}

.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.fa-shopping-basket{

  margin-right: 10px;
}

@media only screen and (max-width: 980px){

  .top-nav-bar{
    height: 118px;
    border-bottom: 0;
  }
  .search-box{
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }

  .menu-bar ul{
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li{
    height: 57px;
    width: 100%;
  }
}



@media only screen and (max-width: 980px)
{
  .side-menu
  {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }

.side-menu ul li ul{
  top: 133px;
}
  .side-menu ul li:hover ul 
  {
    margin-left: 31%;
  }
  #menu-btn {
    display: block;
  }
}


.featured-categories{
  /*margin: 50px 0;*/
}

.featured-categories img{
 
    width: 300px;
    padding: 20px 0;
    cursor: pointer;
}
.featured-categories img:hover{
  transform: scale(1.1);
}


/*--------on sale products---------*/
.title-box {
  background: orange;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2{
  font-size: 24px;
}

.title-box::after{
  content: '';
  border-top: 40px solid orange;
  border-right: 50px solid transparent; 
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}


/*----------product top css--------------*/

.product-top img{
 /*width: 100%*/
  height: 300px;
  padding: 20px 0;
  cursor: pointer;
}

.product-top:hover{
  transform: scale(1.1);
}

.overlay-right
{
  display: block;
  opacity: 0;
  position: absolute;
  margin-left: 0;
  width: 70px;
  top: 10%
}

.overlay-left
{
  /*display: block;*/
  opacity: 5px;
  position: absolute;
  margin-left: 60%;
  width: 70px;
  top: 10%
}
.overlay-right .fa
{
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%
  margin-bottom: 5%;
}

.overlay-right .btn-secondary{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right
{
  opacity: 1;
  margin-right: 5%;
  transition: 0.5s;
}

.product-bottom:hover .overlay-left
{
  opacity: 1;
  margin-right: 5%;
  transition: 0.5s;
}

/*--------------product bottom css-------------------*/
.product-bottom .fa{
  color:orange;
  font-size: 10px;
}

.product-bottom h3{
  font-size: 20px;
  font-weight:  bold;
}

.product-bottom h5{
  font-size: 15px;
  padding-bottom: 10px;
}



.carousel-indicators{   
    top:105%;   
}
    
.carousel-indicators li{
    background-color:red;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
section{
  padding: 2em;
}

/*---------------footer-------------------*/

.footer{
  margin-top: 50px;
  background: #000;
  color: #fff;
}

.footer h1{
  font-size: 18px;
  margin: 25px 0;
}
.footer p {
  font-size: 12px;
}
.footer i{
  color: #fff;
}

/*................single-product.....................*/

.single-product{
  margin-top: 70px;
}

.new-arrival{
  background: green;
  width: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
}
.single-product .fa{
  color: orange;
}

.single-product .price{
  color: orange;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.single-product input{
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}
/*..............product-description...............*/

.product-description h6{
  /*margin-top: 50px;*/
  color: orange;
  font-size: 25px;
  font-weight: bold;
}

.product-description p{
  margin-top: 30px;
}