<br/>


<!-- Shoes Collections -->
<div class="container-fluid">
<div class="trouser">

<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <div class="row">
<div class="col-md-3">
<h5><a href='{% url "shops:services" %}' style="color: #444 !important; font-weight: bold; 
font-size: 18px;">
Best <span style="color: #FF8800;">Services</span> Read more <span></span></a></span></h5>
</div>

 

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
<div class="carousel-item active">
  <div class="row">
      <div class="col-md-3">
        <div class="card mb-2">
       <div class="view overlay">
          <div class="image">
          <img src="../static/pc.png" class="card-img-top" alt=""> 
            <a href="">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">
          </div>
        </div>
      </div>
      
  <div class="col-md-3">
    <div class="card mb-2">
      <div class="view overlay">
          <div class="image">
          <img src="../static/pc.png" class="card-img-top" alt=""> 
            <a href="">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">
          </div>
        </div>
      </div>
<div class="col-md-3">
        <div class="card mb-2">
       <div class="view overlay">
          <div class="image">
          <img src="../static/pc.png" class="card-img-top" alt=""> 
            <a href="">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">
          </div>
        </div>
      </div>

  <div class="col-md-3">
        <div class="card">
       <div class="view overlay">
          <div class="image">
          <img src="../static/pc.png" class="card-img-top" alt=""> 
            <a href="">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">
          </div>
        </div>
      </div>
    </div>
    <!--/.Third slide-->
  </div>
  <!--/.Slides-->

</div>
</div>
</div>
</div>
</div>