{% load cart_template_tags %}

      <nav class="navbar navbar-expand-lg custom-navbar navbar-dark  fixed-top" id="main_navbar" >
        <a class="navbar-brand logo" href="#">
        <img src="../static/cf.png" alt="logo" style="width:70px; height: 60px;">
          <!-- <img src="#" alt="logo" style="width:130px;"> -->
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "shops:home" %}' style="color: #fff; font-size: 18px; font-weight: bold;"><i class="fa fa-home"></i>Home</a>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href='{% url "shops:new" %}' style="color: #fff; font-size: 18px; font-weight: bold;">
                        <i class="fa fa-volume-control-phone">
                        </i>
                        New Products
                      </a>
                    </li>


              <li>
            <!-- Our Special dropdown has class show-on-hover -->
                <div class="btn-group show-on-hover">
                    <a href="#" style="padding-top: 9px;
                    color: #fff; font-size: 18px; font-weight: bold;"> Category</a> 
                  <ul class="dropdown-menu" role="menu">

                  {% for item in cat_list %}
                  <li>
                    <a href="{{ item.get_category_absolete_url }}">{{ item }}</a>
                  </li>
                   {% endfor %}
                  </ul>

          
        </div>
        </li>
                    <li class="nav-item">
                      <a class="nav-link" href='{% url "shops:contact" %}' style="color: #fff; font-size: 18px; font-weight: bold;">
                        <i class="fa fa-volume-control-phone">
                        </i>
                        Contact
                      </a>
                    </li>


                </ul>
    <div class="form-inline my-2 my-lg-0">
        <form method="GET" action="" novalidate="novalidate" class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
      <input type="text" name="q" class="form-control mr-sm-2"  placeholder="Search" aria-label="Search" value="{{ request.GET.q }}" style="color: #fff; font-size: 16px; font-weight: bold;">

      <input type="submit" value="search" class="btn btn-outline-success btn-rounded waves-effect"/>

      <!-- <i class="fas fa-search" type="submit" value="search" aria-hidden="true"> -->
        <!-- <input type="submit" value="search"> -->
      </i>

    </form>
              </div>

            <ul class="navbar-nav ">
            {% if request.user.is_authenticated %}

           
            <li class="nav-item">
              <a class="nav-link" href="{% url 'shops:order-summary' %}" style="color: #fff; font-size: 18px; font-weight: bold;">
                <i class="fa fa-shopping-basket">

                </i>
                Cart <span class="dot text-center" style="background-color: #000; border-radius: 20px; padding-right: 10px; padding-left: 10px;">{{ request.user|cart_item_count }}</span>
              </a>
            </li>
             <li class="nav-item dropdown form-inline">
                    <a class="nav-link" href="#">
                        <a class='nav-link fas fa-sign-out-alt' href="{% url 'account_logout' %}" style="color: #fff; font-size: 18px; font-weight: bold;"> Logout</a>
                    </a>
            </li>

            {% else %}

              <li class="nav-item dropdown form-inline">
                  <a class="nav-link" href="#">
                  <a class='nav-link fas fa-sign-in-alt' href='
                  {% url 'account_login' %}' style="color: #fff; font-size: 18px; font-weight: bold;"> Login</a>
                  </a>
            </li>
              <li class="nav-item dropdown form-inline">
                    <a class="nav-link" href="#">
                        <a class='nav-link fa fa-user' href='{% url 'account_signup' %}' style="color: #fff; font-size: 18px; font-weight: bold;"> Signup</a>
                    </a>
            </li>
            {% endif %}
          </ul>
              
          </div>
      </nav>

    
    