<!-- header -->
<header>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12">
            <div class="btn-group">
            <button class="btn border dropdown-toggle my-md-4 my-2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">KSH
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Ksh-Kenya</a>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 text-center">
            <h2 class="my-md-3 site-title text-white">Online Store</h2>
        </div>
        <div class="col-md-4 col-12 text-right">
            <p class="my-md-4 header-links">
                <a href="#" class="px-2">Sign In</a>
                <a href="#" class="px-1">Create Account</a>
            </p>
    </div>
</div>
</div>

<div class="container-fluid p-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--   <a class="navbar-brand" href="#">Navbar</a>
 -->  
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">FEATURES</a>
      <a class="nav-item nav-link" href="#">COLLECTION</a>
    <a class="nav-item nav-link" href="#">SHOP</a>
    <a class="nav-item nav-link" href="#">ABOUT US</a>
    </div>
  </div>

<div class="navbar-nav">
    <li class="nav-item border rounded-circle mx-2 search-icon">
        <i class="fas fa-search p-2"></i>
    </li>
    <li class="nav-item border rounded-circle mx-2 basket-icon">
        <i class="fas fa-shopping-basket p-2"></i>
    </li>
</div>
</nav>
</div>
</header>