{% extends "base.html" %}

{% block content %}
  <!--Main layout-->
    <div class="container-fluid">
    <div class="trouser">

    <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3" style="font-weight: bold; font-size: 30px;">
    <a href="{{ instance.category.get_category_absolete_url }}">
                <span class="badge purple mr-1">
                {{ instance.category }}</span>
              </a>
           <!--    <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a> -->
            </div>

            <p class="lead"> <b>Price: </b>
            {% if instance.discount_price %}
              <span class="mr-1">
                <del>{{ instance.price }}</del>
              </span>
              <span>{{ instance.discount.price }}</span>
              {% else %}
              <span>{{ instance.price }} KSH</span>
              {% endif %}
            </p>
            <p><b class="lead font-weight-bold">Color:</b> {{ instance.color }}</p>
            <p><b class="lead font-weight-bold">Type:</b> {{ instance.type_cloth }}</p>
            <p><b class="lead font-weight-bold">Label:</b> {{ instance.label }}</p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ instance.description }}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
          <!--     <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> -->
              <a href="{{ instance.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>

              <a href="{{ instance.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">Remove From Cart
              </a>


          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </form></div>
     <br/>

 <!-- Shoes Collections -->
<div class="container-fluid">
<div class="trouser">

<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <div class="row">
<div class="col-md-3">

<h5><a href="#" style="color: #444 !important; font-weight: bold; 
font-size: 22px;">
Related <span style="color: #FF8800;">Designs</span>  <span></span></a></span></h5>
<br>
</div> 

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
  <div class="row">
    {% for category in show %}

      <div class="col-md-2">
        <div class="card mb-2">
       <div class="view overlay">
          <div class="image">
          <img src="{{ category.image.url }}" class="card-img-top" alt=""> 
            <a href="{{ category.get_absolete_url }}">
          
            <div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <h6 style="padding-left: 10px; padding-top: 5px; font-weight: bold;">Ksh {{ category.price }}
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <!--/.Third slide-->
  </div>
  <!--/.Slides-->
</h6>
</div>
</div>
</div>
</div>
</div>
</div>

  
 {% endblock content %}